<ion-content fullscreen>

  <ion-header slot="fixed">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/tab/1"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="product">
    <div class="product__images">
      <img src="https://images.pexels.com/photos/2529148/pexels-photo-2529148.jpeg" alt="" class="product__images__image">
    </div>
    <div class="product__header">
      <div class="product__header__title">Nike Shoes</div>
      <div class="product__header__rating">4.5</div>
    </div>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis dolorem, dolorum eligendi excepturi incidunt labore, laboriosam, mollitia necessitatibus pariatur provident quaerat quas quasi quis sit soluta tempora veritatis!</p>
    <div class="product__variants">
      <div class="product__variants__title">Size</div>
      <div class="product__variants__options">
        <ion-chip>US 6.5</ion-chip>
        <ion-chip>US 7</ion-chip>
        <ion-chip>US 7.5</ion-chip>
        <ion-chip>US 8</ion-chip>
        <ion-chip>US 8.5</ion-chip>
        <ion-chip>US 9</ion-chip>
      </div>
    </div>
  </div>


</ion-content>


<ion-footer>
  <ion-toolbar>
    <span slot="start">$299</span>
    <ion-button slot="end" shape="round">Add to Bag</ion-button>
  </ion-toolbar>
</ion-footer>
