<ion-content [fullscreen]="true">
  <div class="header">
    <div class="header__title">
      <div class="header__title__secondary">Greeting</div>
      <div class="header__title__primary">Emma</div>
    </div>
    <div class="header__profile-image">
      <img src="https://randomuser.me/api/portraits/women/67.jpg" alt="Emma">
    </div>
  </div>

  <section class="slides">
    <h2>Popular</h2>
    <ion-slides [options]="sliderOptions">
      <ion-slide>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </section>


  <section class="products">
    <div class="card" *ngFor="let v of [0,1,2,3,4,5,6,7,8,9,10,11,12]" (click)="openDetail()">
      <div class="card__image">
        <img src="https://purepng.com/public/uploads/large/purepng.com-cupcupopen-containertablewarecarrying-drinksceramic-cup-1701528266193sfx1o.png" alt="">
      </div>
      <div class="card__content">
        <div class="card__content__title">Ceramic cup</div>
        <div class="card__content__price">$24</div>
        <div class="card__content__rating">
          <ion-icon name="star" class="card__content__rating--active"></ion-icon>
          <ion-icon name="star" class="card__content__rating--active"></ion-icon>
          <ion-icon name="star" class="card__content__rating--active"></ion-icon>
          <ion-icon name="star" class="card__content__rating--active"></ion-icon>
          <ion-icon name="star"></ion-icon>
        </div>
      </div>
      <div class="card__like-btn" [class.card__like-btn--active]="v == 1">
        <ion-icon name="heart"></ion-icon>
      </div>
      <div class="card__add-btn">
        <ion-icon name="add"></ion-icon>
      </div>
    </div>
  </section>
</ion-content>
